<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/result" method="POST">
    <textarea name="plaintext" placeholder="Target Data"></textarea>
    <br><br> 
    <input type="radio" name="action" value="encrypt" id="encrypt" />
    <label for="encrypt">Encrypt</label>
    <br>
    <input type="radio" name="action" value="decrypt" id="decrypt" />
    <label for="decrypt">Decrypt</label>
    <br><br>
    <input type="radio" name="type" value="aes" id="aes" />
    <label for="aes">AES</label>
    <br>
    <input type="radio" name="type" value="rsa" id="rsa" />
    <label for="rsa">RSA</label>
    <br><br>
    <input type="checkbox" name="externalKey" value="true" id="externalKey" onclick="if(this.checked){document.getElementById('userKey').style.display='block';}else{document.getElementById('userKey').style.display='none';}" />
    <label for="externalKey">Use Alternate Key</label>
    <br>
    <textarea name="userKey" placeholder="Key" style="display: none" id="userKey"></textarea>
    <br><br>
    <button type="submit">Submit</button>
    </form>
  </body>
</html>
